# ==============================================
# MTK Policy Rule
# ==============================================
# Device types
type tll_device, dev_type;
type mcupm_device, dev_type;
