# ==============================================
# MTK Policy Rule
# ==============================================

allow dnsmasq netd:file r_file_perms;
