# ==============================================
# MTK Policy Rule
# ==============================================

set_prop(logd, logd_prop)
set_prop(logd, log_tag_prop)
