# TODO (b/07025950) fix this access
# Suppress denials to map. Webview zygote should not be accessing.
dontaudit webview_zygote zygote_tmpfs:file map;
