# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/camerapostalgo Executable File

type camerapostalgo, domain;
