# ==============================================
# MTK Policy Rule
# ==============================================

# Device types
type mtd_device, dev_type;
