# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/em_svr Executable File

type em_svr, domain;
