# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/mtkbootanimation Executable File

# bootanimation oneshot service
type mtkbootanimation, domain;
