# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/netdiag Executable File

type netdiag, domain;
