# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/terservice Executable File

type terservice, domain;
