# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/thermald Executable File

type thermald, domain;
