# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/usp_service Executable File

type usp_service ,domain;
