# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/vtservice Executable File

type vtservice, domain;
