# ==============================================
# MTK Policy Rule
# ==============================================

r_dir_file(adbd, debuglog_data_file)
