# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/loghidlsysservice Executable File

type loghidlsysservice, domain;
