# ==============================================
# MTK Policy Rule
# ==============================================
# Policy File of /system/bin/mdlogger Executable File

type mdlogger, domain;
